In [10]:
import sqlite3
import pandas as pd

In [11]:
# criar uma variável de conexão com o banco
banco=sqlite3.connect("primeiro_banco.db")

In [12]:
# criar uma tabela dentro do banco de dados
cursor= banco.cursor() # recebe o objeto onde eu criei meu banco
# comando SQL para criar a tabela
cursor.execute("CREATE TABLE pessoas (nome text, idade integer, email text)")

OperationalError: table pessoas already exists

In [13]:
cursor.execute("INSERT INTO pessoas VALUES('Maria', 40, 'maria@gmail.com')")# colocar aspas simples quando for inserir dados

In [14]:
# commit - confirmação de que estamos inserindo dados no banco
banco.commit()

In [15]:
# vou selecionar todos os dados da tabela pessoas
cursor.execute("SELECT*FROM pessoas")
print(cursor.fetchall())# imprime o que queremos ver

[('Maria', 40, 'maria@gmail.com'), ('Erica', 30, 'erica12.nogueira@gmail.com'), ('Maria', 40, 'maria@gmail.com')]

In [16]:
# vamos inserir um novo registro no banco
cursor.execute("INSERT INTO pessoas VALUES('Erica', 30, 'erica12.nogueira@gmail.com')")
banco.commit()# salva o que inseri

In [17]:
cursor.execute("SELECT*FROM pessoas")
print(cursor.fetchall())# imprime

[('Maria', 40, 'maria@gmail.com'), ('Erica', 30, 'erica12.nogueira@gmail.com'), ('Maria', 40, 'maria@gmail.com'), ('Erica', 30, 'erica12.nogueira@gmail.com')]

In [21]:
cursor = cursor.execute("SELECT*FROM pessoas")
rows = cursor.fetchall()
rows

[('Maria', 40, 'maria@gmail.com'),
 ('Erica', 30, 'erica12.nogueira@gmail.com'),
 ('Maria', 40, 'maria@gmail.com'),
 ('Erica', 30, 'erica12.nogueira@gmail.com')]

In [22]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

    nome  idade                       email
0  Maria     40             maria@gmail.com
1  Erica     30  erica12.nogueira@gmail.com
2  Maria     40             maria@gmail.com
3  Erica     30  erica12.nogueira@gmail.com