In [1]:
import sqlite3

In [2]:
banco = sqlite3.connect('primeiro_banco.db') # objeto de conexão com o banco (esse banco já existe )
cursor = banco.cursor()

In [7]:
cursor.execute("INSERT INTO pessoas VALUES('Pedro', 25, 'pedro@gamil.com')")

In [8]:
banco.commit()# lembrando que aqui salva suas alterações

In [13]:
cursor.execute("SELECT*FROM pessoas ")
print(cursor.fetchall())

[('Maria', 40, 'maria@gmail.com'), ('Erica', 30, 'erica12.nogueira@gmail.com'), ('Maria', 40, 'maria@gmail.com'), ('Erica', 30, 'erica12.nogueira@gmail.com'), ('Pedro', 25, 'pedro@gamil.com'), ('Aline', 45, 'alinemn@gamil.com'), ('Miguel', 14, 'migelito@gmail.com'), ('Aline', 45, 'alinemn@gamil.com')]

In [12]:
cursor.execute("INSERT INTO pessoas VALUES('Aline', 45, 'alinemn@gamil.com')")
banco.commit()

In [14]:
### vamos excluir uma elemento que salvei
try:
    banco = sqlite3.connect('primeiro_banco.db') 
    cursor = banco.cursor()
    cursor.execute("DELETE from pessoas WHERE idade=30 ")
    banco.commit()
    banco.close()
    print("os dados foram removidos")

except sqlite3.Error as erro:
    print('Erro ao excluir: ', erro)

os dados foram removidos